* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --background-color: green;
    --font1: fjfjfhf;
    --bgc: #111828;
}

body {
    background-color: var(--bgc);
}

.bg-transparent {
    background-color: transparent;
}

.dark .bg-transparent {
    background-color: rgba(0, 0, 0, 0.05);
    /* adjust the opacity to your liking */
}

/* Stylish Scrollbar */
.stylish-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .stylish-scrollbar::-webkit-scrollbar-track {
    background: #1f2937; /* Dark Gray */
  }
  
  .stylish-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Lighter Gray */
    border-radius: 10px;
    border: 2px solid #1f2937; /* Dark Gray */
  }
  
  /* For Firefox */
  .stylish-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937;
  }