* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --background-color: green;
    --font1: fjfjfhf;
    --bgc: #111828;
}

body {
    background-color: var(--bgc);
}

.bg-transparent {
    background-color: transparent;
}

.dark .bg-transparent {
    background-color: rgba(0, 0, 0, 0.05);
    /* adjust the opacity to your liking */
}

/* Stylish Scrollbar */
.stylish-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .stylish-scrollbar::-webkit-scrollbar-track {
    background: #1f2937; /* Dark Gray */
  }
  
  .stylish-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Lighter Gray */
    border-radius: 10px;
    border: 2px solid #1f2937; /* Dark Gray */
  }
  
  /* For Firefox */
  .stylish-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937;
  }



  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .bounce {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(-5px);
    }

    50% {
      transform: translateY(0);
    }
  }

  /* Background icon styling */
  .background-icon {
    position: absolute;
    font-size: 8rem;
    opacity: 0.05;
    color: rgba(255, 255, 255, 0.05);
    z-index: 0;
    transform: rotate(15deg);
    pointer-events: none;
  }

  /* Gradient text effect */
  .gradient-text {
    background: linear-gradient(to right, #5e63ff, #f54ea2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
  }