*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

:root{
    --background-color:green;
    --grey-font : rgb(169, 169, 172);
    --main-bg-color: rgb(17, 24, 39);
}



body{
    background-color: var(--main-bg-color);
}


#sidebarTarg li a {
    color: var(--grey-font);
}
