@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: green;
  --font1: fjfjfhf;
  --bgc: #111828;
  --grey-font: rgb(169, 169, 172);
  --main-bg-color: rgb(17, 24, 39);
}

body {
  background-color: var(--main-bg-color);
}

.bg-transparent {
  background-color: transparent;
}

.dark .bg-transparent {
  background-color: rgba(0, 0, 0, 0.05);
  /* adjust the opacity to your liking */
}

.navigation {
  justify-content: space-between;
  padding: 0.5em;
  margin-bottom: 1em;
}
.code {
  font-family: "Courier Prime";
}
#default-sidebar {
  background-color: var(--main-bg-color);
}

.highlight {
  color: rgb(211, 26, 26);
  background-color: rgb(97, 97, 234);
  border-radius: 1rem;
  color: white;
}

/* Stylish Scrollbar */
.stylish-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.stylish-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* Dark Gray */
}

.stylish-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Lighter Gray */
  border-radius: 10px;
  border: 2px solid #1f2937; /* Dark Gray */
}

/* For Firefox */
.stylish-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}

/* Gradiant to Heading in Visualizer */
.visual-head {
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  color: transparent;
}
.code-editor-v {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-black {
  background-color: black;
}

.bg-dull-black {
  background-color: rgb(36, 36, 36);
}

/* Visualizer Terminal */
/* Terminal Container */
#terminal-container {
  width: 100%;
  height: 20em;
  margin-top: 10em;
  border: 2px solid #c1c1c1;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

/* Title Bar */
#title-bar {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  text-align: left;
  font-weight: bold;
}

/* Terminal Window */
#terminal {
  background-color: #000000;
  color: #00ff00;
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Output Area */
#output-area {
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 5px;
}

/* Input Field */

/* Scrollbar styling */
#output-area::-webkit-scrollbar {
  width: 10px;
}

#output-area::-webkit-scrollbar-track {
  background: #000000;
}

#output-area::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* For Select tag on Documentation */

#language {
  color: rgb(255, 255, 255);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

/* Change the color of disabled options */
#language option:disabled,
#language option {
  color: rgb(97, 97, 97);
  background-color: #e0edff;
}



/* ---------------------------------------- */
/* For get started matLang */

.pink-code{
  color: rgb(240, 145, 203);
  font-family: "Courier New", Courier, monospace;
}

.get-start-head{
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4em;
}


.copy-clip{
  position: absolute;
  top: 5%;
  left:96%;
  font-size: 1.4em;
}

.margin-butt{
  margin-top: 2em;
  margin-bottom: 4em;
}
/* ---------------------------------------- */
.hero{
  
}


@media (max-width: 1020px) {
  /* Tailwind's `sm` breakpoint */
  #code-parser {
    width: 97vw;
  }
}

@media (max-width: 640px) {
  /* Tailwind's `sm` breakpoint */
  #default-sidebar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  #default-sidebar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}